* {
    margin: 0px;
    padding: 0px;
    color: #D9D9D9;
}

body {
    background-color: #0F0F0F;
}

#container {
    width: 100vw;
    margin: auto;
}

#cabecalho {
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#cabecalho a {
    padding: 0 20px;
    text-decoration: none;
    color: #D9D9D9;
}

.texto-focado {
    color: #D00142;
}

.fliperama-background {
    background-image: url("../resources/backgrounds/fliperama-background.jpg");
    background-size: cover;
    height: 800px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-do-jogo {
    width: 80vw;
}

.titulo-do-jogo h1 {
    font-size: 90px;
}

.titulo-do-jogo h3 {
    font-size: 30px;
}


#botao-jogar {
    border: #D9D9D9 2px solid;
    color: #D9D9D9;
    border-radius: 10px;
    margin-top: 100px;
}

#botao-jogar p {
    padding: 15px 50px;
    font-size: 20px;
}
.centralize {
    display: flex;
    justify-content: center;
}

#vantagens {
    height: 300px;
    background-color: #020A1D;
    display: flex;
    align-items: center;
}

#vantagens-container {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#vantagens span {
    color: #D00142;

}

#vantagens p {
    margin: 10px 0;
}

.vantagem-image {
    height: 60px;
    width: 80px;
}

#footer {
    height: 200px;
    background-color: black;
}

.vatagem {
    margin: 0 30px;
    padding: 0 30px;
}



